[Unit]
Description=Mount /opt/usr
ConditionPathIsMountPoint = !/opt/usr

[Service]
Type=oneshot
ExecStartPre=/usr/bin/rm -f /run/.unlock_mnt /tmp/.lazy_mount
ExecStart=/usr/bin/mount /dev/disk/by-partlabel/user /opt/usr
ExecStartPost=/usr/bin/touch /run/.unlock_mnt
SuccessExitStatus=0
