[Unit]
Description=Discard unused blocks on user partition
Requires=opt.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/tizen-fstrim-on-charge.sh /opt
StandardOutput=journal
StandardError=inherit
