[Unit]
Description=Generate environment from /etc/profile.d
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env -i sh -c 'source /etc/profile; env | /bin/egrep -v "^(HOME|PWD|SHLVL|_|USER|MAIL|LOGNAME|XDG_RUNTIME_DIR)=" > /run/tizen-system-env'

[Install]
WantedBy=basic.target
