[Unit]
Description=Unmount opt
DefaultDependencies=no
ConditionPathIsMountPoint=/opt
Before=local-fs-pre.target local-fs.target shutdown.target
Requires=local-fs-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
SmackProcessLabel=System
ExecStart=/bin/umount -l /opt
