ACTION!="add", GOTO="devices_end"

# audio
SUBSYSTEM=="spipe", KERNEL=="stty_td[0-9]*|stty_w[0-9]*|spipe_td[0-9]*|spipe_w[0-9]*", GROUP="audio", SECLABEL{smack}="*", MODE="0660"
KERNEL=="ion", GROUP="users", SECLABEL{smack}="*", MODE="0660"

KERNEL=="null|zero|full|random|urandom|uinput", SECLABEL{smack}="*"

KERNEL=="umts_csd", GROUP="video", SECLABEL{smack}="*"
KERNEL=="media[0-9]", MODE="0664", GROUP="video", SECLABEL{smack}="*"

KERNEL=="event*", SYMLINK+="%k"

KERNEL=="samsung_sdb", SECLABEL{smack}="*"

# Marvell
KERNEL=="uio[0-9]", MODE="0666", SECLABEL{smack}="*"

KERNEL=="mobicore-user", SECLABEL{smack}="*"

LABEL="devices_end"
